<h1>Listing Your Unpublished Maps</h1>

<div class="actions">
    <%= link_to 'Create a Map', new_map_path, :class => "btn btn-success" %>
    <%= link_to 'View All Published Maps', maps_path, :class => "btn btn-success" %>
</div>

<table class="table table-striped">
  <tr>
    <th>Score</th>
    <th>Name</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maps.each do |map| %>
  <tr>
    <td><%= map.vote_total %></td>
    <td><%= map.name %></td>
    <td><%= map.user.nickname %></td>
    <td><%= link_to 'View', map, :class => "btn" %></td>
    <td><%= link_to 'Publish this Map!', publish_map_path(map), :class => "btn btn-success", :method => :post %></td>
    <td><%= link_to 'Edit', edit_map_path(map), :class => "btn" %></td>
    <td><%= link_to 'Destroy', map, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

